<h1>Places</h1>

<p>
  <a class="btn btn-primary" href="/places/new">New place</a>
</p>

<div class="container">
   <% for place in @places %>
  <div class="row">
    <li><a class="btn btn-secondary" href="/places/<%= place["id"] %>"><%= place["name"] %></a>
    <div class="col">
    </div>
    </li>
  </div>
  <% end %>
</div>



<ul>
  <% for place in @places %>
    <li><a class="btn btn-secondary" href="/places/<%= place["id"] %>"><%= place["name"] %></a>
    </li>
  <% end %>
</ul>