<h1>New Place</h1>

<%= form_with :model => @place do |form| %>
  <p>
    <%= form.label "name" %>
    <%= form.text_field "name" %>
  </p>
  <p>
    <button type="button" class="btn btn-primary"> <%= form.submit %> </button>
  </p>


<% end %>